{% extends "template.html" %}
{% block content %}
<form action="" id="new-payment-form" method="post" enctype="multipart/form-data"></form>
<form action="" id="new-bill-form" method="post" enctype="multipart/form-data"></form>
<div class="sidebar bg-muted" id="meralco">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='images/meralco.svg') }}" alt="" class="img-thumbnail rounded-circle" style="max-width: 2rem !important;">
                <span class="lead ml-3">Meralco</span>
            </div>
        </div>
    </div>
    <div id="allMeralco" class="container mt-3">
        <div class="row">
            <div class="col">
                No bills yet...
            </div>
        </div>
    </div>
    <a href="#" class="close-button"><i class="las la-times-circle"></i></a>
</div>
<div class="sidebar bg-muted" id="water">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <i class="las la-tint"></i>
                <span class="lead ml-3">Water</span>
            </div>
        </div>
    </div>
    <div id="allWater" class="container mt-3">
        <div class="row">
            <div class="col">
                No bills yet...
            </div>
        </div>
    </div>
    <a href="#" class="close-button"><i class="las la-times-circle"></i></a>
</div>
<div class="sidebar bg-muted" id="pldt">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='images/pldt.svg') }}" alt="" class="img-thumbnail rounded-circle" style="max-width: 2rem !important;">
                <span class="lead ml-3">PLDT</span>
            </div>
        </div>
    </div>
    <div id="allPldt" class="container mt-3">
        <div class="row">
            <div class="col">
                No bills yet...
            </div>
        </div>
    </div>
    <a href="#" class="close-button"><i class="las la-times-circle"></i></a>
</div>
<div class="sidebar bg-muted" id="rent">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <span style="font-size: 1.5rem !important;">
                    <i class="las la-home mr-3"></i> Rent
                </span>
            </div>
        </div>
    </div>
    <div id="allRent" class="container mt-3">
        <div class="row">
            <div class="col">
                No bills yet...
            </div>
        </div>
    </div>
    <a href="#" class="close-button"><i class="las la-times-circle"></i></a>
</div>
<div class="container">
    <div id="add-bill-form" class="row display-none">
        <div class="col-sm-12 col-md-4 offset-md-4 mt-5">
            <div class="card">
                <img src="" alt="" class="card-img-top" id="bill-image">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex">
                            <h4>Add new bill</h4>
                            <div class="ml-auto">
                                <a id="add-bill-close" href="#"><i class="lar la-times-circle" style="font-size: 1.5rem !important;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="bill-amount" class="form-label">Amount</label>
                        <input form="new-bill-form" name="amount" id="bill-amount" type="number" step="0.01" min="0" class="form-control" placeholder="0.00">
                    </div>
                    <div class="mb-3">
                        <select name="biller" id="biller" class="form-select" form="new-bill-form">
                            <option value="" selected disabled>Choose biller</option>
                            <option value="meralco">meralco</option>
                            <option value="water">water</option>
                            <option value="pldt">pldt</option>
                            <option value="rent">rent</option>
                        </select>
                    </div>
                    <div class="form-file mb-3">
                        <input type="file" name="bill-image" class="form-file-input" id="bill-image-form" form="new-bill-form">
                        <label class="form-file-label" for="bill-image-form">
                            <span class="form-file-text">Choose image...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="datepicker" class="form-label">Due Date</label>
                        <input type="text" name="due-date" id="datepicker" form="new-bill-form" class="form-control" placeholder="DD/M/YYYY">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn" form="new-bill-form">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="add-payment-form" class="row display-none">
        <div class="col-sm-12 col-md-4 offset-md-4 mt-5">
            <div class="card">
                <img src="" alt="" class="card-img-top" id="payment-image">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex">
                            <h4>Add new payment</h4>
                            <div class="ml-auto">
                                <a id="add-payment-close" href="#"><i class="lar la-times-circle" style="font-size: 1.5rem !important;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input form="new-payment-form" name="amount" id="amount" type="number" step="0.01" min="0" class="form-control" placeholder="0.00">
                    </div>
                    <div class="mb-3">
                        <select name="payer" id="payer" class="form-select" form="new-payment-form">
                            <option value="" selected disabled>Choose payer</option>
                            <option value="don">don</option>
                            <option value="hazel">hazel</option>
                            <option value="robert">robert</option>
                            <option value="ezekiel">ezekiel</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select name="biller" id="biller_payment" class="form-select" form="new-payment-form">
                            <option value="" selected disabled>Choose biller</option>
                            <option value="meralco">meralco</option>
                            <option value="water">water</option>
                            <option value="pldt">pldt</option>
                            <option value="rent">rent</option>
                        </select>
                    </div>
                    <div class="form-file mb-3">
                        <input type="file" class="form-file-input" name="payment-image" id="payment-image-form" form="new-payment-form">
                        <label class="form-file-label" for="payment-image-form">
                            <span class="form-file-text">Choose image...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn" form="new-payment-form">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main" class="container">
    <div class="row mt-5 mb-4">
        <div class="col text-center animate__animated">
            <div class="d-flex justify-content-center align-items-center">
                <h1 id="totalBillAmount" class="display-1 mr-2">0.00</h1><small>₱</small>
                {% if is_admin == True %}
                <a href="#" class="ml-auto" id="addBill"><i class="las la-plus-circle" style="font-size: 1.5rem;"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 my-2">
            <a href="#" class="card bg-warning shadow bill animate__animated" data-modal="meralco">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ url_for('static', filename='images/meralco.svg') }}" alt="" class="img-thumbnail rounded-circle" style="max-width: 2rem !important;">
                        </div>
                        <div id="current-meralco" class="col d-flex align-items-center">
                            <span class="font-weight-light main-price mr-2">0.00</span> <small>₱</small>
                            <span class="ml-2 text-muted font-weight-lighter main-due-date">due on: -</span>
                            <div class="ml-auto">
                                <i class="las la-angle-double-right" style="font-size: initial;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-3 my-2">
            <a href="#" class="card bg-primary shadow bill animate__animated" data-modal="water">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <i class="las la-tint"></i>
                        </div>
                        <div id="current-water" class="col d-flex align-items-center">
                            <span class="font-weight-light main-price mr-2">0.00</span> <small>₱</small>
                            <span class="ml-2 text-muted font-weight-lighter main-due-date">due on: -</span>
                            <div class="ml-auto">
                                <i class="las la-angle-double-right" style="font-size: initial;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-3 my-2">
            <a href="#" class="card bg-danger shadow bill animate__animated" data-modal="pldt">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ url_for('static', filename='images/pldt.svg') }}" alt="" class="img-thumbnail rounded-circle" style="max-width: 2rem !important;">
                        </div>
                        <div id="current-pldt" class="col d-flex align-items-center">
                            <span class="font-weight-light main-price mr-2">0.00</span> <small>₱</small>
                            <span class="ml-2 text-muted font-weight-lighter main-due-date">due on: -</span>
                            <div class="ml-auto">
                                <i class="las la-angle-double-right" style="font-size: initial;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-3 my-2">
            <a href="#" class="card bg-secondary shadow bill animate__animated" data-modal="rent">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <i class="las la-home"></i>
                        </div>
                        <div id="current-rent" class="col d-flex align-items-center">
                            <span class="font-weight-light main-price mr-2">0.00</span> <small>₱</small>
                            <span class="ml-2 text-muted font-weight-lighter main-due-date">due on: -</span>
                            <div class="ml-auto">
                                <i class="las la-angle-double-right" style="font-size: initial;"></i>
                            </div>
                        </div>
                    </div>  
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4 bg-muted rounded-top mt-5 p-3 payment-history animate__animated">
            <div class="row">
                <div class="col mb-3">
                    <div class="d-flex">
                        <span class="lead">Payment History</span>
                        {% if is_admin == True %}
                        <div class="ml-auto">
                            <a href="#" id="addPayment">
                                <i class="las la-plus-circle" style="font-size: 1.5rem;"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="payments"></div>
        </div>
    </div>
</div>
{% endblock %}